# Set default behavior to automatically normalize line endings.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.md text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
