body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* 添加背景顏色 */
}

h1, h2 {
  margin-bottom: 20px;
  color: #333; /* 統一的文本顏色 */
  text-align: center; /* 標題置中 */
}

h1 {
  border-bottom: 2px solid #3498DB; /* 在 h1 元素下面添加一條藍色的 2px 粗的分隔線 */
  padding-bottom: 10px; /* 確保文本和分隔線之間有適當的間距 */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* 元素置中 */
  width: 80%;
  max-width: 600px;
  background-color: #fff; /* 表單背景顏色 */
  padding: 20px; /* 表單內邊距 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 表單陰影 */
  border-radius: 8px; /* 表單圓角 */
  margin-bottom: 20px;
}

#fetchresult {
  display: none; /* 初始隱藏 */
}

label, input, button, select {
  margin-bottom: 15px;
  width: 100%;
}

select {
  margin-bottom: 20px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="search"], input[type="fetchCrawlerData"] {
  width: calc(100% - 16px);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 80%;
  max-width: 600px;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #3498DB;
  color: #fff;
  font-weight: bold;
}

button {
  padding: 12px 20px;
  background-color: #E74C3C;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #C0392B; /* 深紅色按鈕背景 */
}

.import-button {
  padding: 12px 20px; /* 調整按鈕內邊距 */
  background-color: #F1C40F; /* 黃色按鈕背景 */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* 按鈕圓角 */
}

.import-button:hover {
  background-color: #F39C12; /* 深黃色按鈕背景 */
}

#response {
  color: #E74C3C; /* 紅色響應文本 */
  font-weight: bold; /* 加粗響應文本 */
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* 添加按鈕之間的間距 */
}

.navigation a {
  text-decoration: none;
  color: #fff;
  background-color: #9B59B6; /* 紫色背景 */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 按鈕陰影 */
  font-weight: bold;
  width: 200px; /* 設置固定寬度 */
  text-align: center;
}

.navigation a:hover {
  background-color: #8E44AD; /* 深紫色背景 */
}

.personal-info, .bank-info {
  width: 80%;
  max-width: 600px;
  background-color: #fff; /* 背景顏色 */
  padding: 20px; /* 內邊距 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影 */
  border-radius: 8px; /* 圓角 */
  margin-bottom: 20px;
  text-align: center; /* 標題置中 */
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
  color: #666;
  background-color: #fff; /* 背景顏色 */
  border-top: 1px solid #ddd; /* 上邊框 */
  margin-top: auto; /* 將 footer 推到頁面底部 */
}

#importResponse {
  text-align: center;
}